In [1]:
from pandas import Series

In [22]:
obj=Series([100,200,300,400,500],index=['e','d','c','b','a'])

In [23]:
obj

e    100
d    200
c    300
b    400
a    500
dtype: int64

In [24]:
obj=obj.reindex(['a','b','c','d','e'])

In [25]:
obj

a    500
b    400
c    300
d    200
e    100
dtype: int64

In [26]:
from pandas import DataFrame

In [27]:
date={'Name':['ram','bigil','tom'],
     'Age':[12,56,89],
     'salary':[123,567,890]}

In [28]:
frame=DataFrame(date)

In [29]:
frame

    Name  Age  salary
0    ram   12     123
1  bigil   56     567
2    tom   89     890