In [1]:
from pandas import DataFrame

In [2]:
data1={"Speed":[100,200,300],"Temperature":[12,56,45],"Humidity":[78,90,67]}

In [3]:
frame=DataFrame(data1)

In [4]:
frame

   Speed  Temperature  Humidity
0    100           12        78
1    200           56        90
2    300           45        67

In [7]:
frame=frame.reindex(columns=["Speed","Humidity","Temperature"])

In [8]:
frame

   Speed  Humidity  Temperature
0    100        78           12
1    200        90           56
2    300        67           45

In [10]:
frame.sort_index(axis=1)

   Humidity  Speed  Temperature
0        78    100           12
1        90    200           56
2        67    300           45

In [12]:
frame.sort_index(axis=0)

   Speed  Humidity  Temperature
0    100        78           12
1    200        90           56
2    300        67           45

In [14]:
frame.sort_index(axis=1,ascending=False)

   Temperature  Speed  Humidity
0           12    100        78
1           56    200        90
2           45    300        67

In [15]:
from pandas import Series

In [16]:
series2=Series([1200,1000,4000],index=["Speed","Temperature","Humidity"])

In [17]:
series2

Speed          1200
Temperature    1000
Humidity       4000
dtype: int64

In [18]:
series2.sort_values()

Temperature    1000
Speed          1200
Humidity       4000
dtype: int64

In [20]:
frame.sort_values(by='Humidity')

   Speed  Humidity  Temperature
2    300        67           45
0    100        78           12
1    200        90           56

In [21]:
frame.sort_values(by='Temperature')

   Speed  Humidity  Temperature
0    100        78           12
2    300        67           45
1    200        90           56

In [22]:
frame.sum()

Speed          600
Humidity       235
Temperature    113
dtype: int64

In [23]:
frame.sum(axis=1)

0    190
1    346
2    412
dtype: int64