In [26]:
from pandas import Series

In [27]:
series1=Series([1,2,3])

In [28]:
series2=Series([100,200,300],index=["Speed","Temperature","Humidity"])

In [29]:
series1+series2

0             NaN
1             NaN
2             NaN
Humidity      NaN
Speed         NaN
Temperature   NaN
dtype: float64

In [30]:
from pandas import DataFrame

In [31]:
data1={"Speed":[100,200,300],"Temperature":[12,56,45]}

In [32]:
frame1=DataFrame(data1)

In [33]:
frame1

   Speed  Temperature
0    100           12
1    200           56
2    300           45

In [34]:
data2={"Speed":[100,200,300],"Temperature":[12,56,45],"Humidity":[78,90,67]}

In [35]:
frame2=DataFrame(data2)

In [36]:
frame2

   Speed  Temperature  Humidity
0    100           12        78
1    200           56        90
2    300           45        67

In [37]:
frame1+frame2

   Humidity  Speed  Temperature
0       NaN    200           24
1       NaN    400          112
2       NaN    600           90

In [38]:
frame2

   Speed  Temperature  Humidity
0    100           12        78
1    200           56        90
2    300           45        67

In [39]:
series2

Speed          100
Temperature    200
Humidity       300
dtype: int64

In [40]:
frame2-series2

   Speed  Temperature  Humidity
0      0         -188      -222
1    100         -144      -210
2    200         -155      -233

In [41]:
frame2+series2

   Speed  Temperature  Humidity
0    200          212       378
1    300          256       390
2    400          245       367

In [42]:
se=Series([3,7,1,4,7,2],index=[2,5,1,3,8,5])

In [43]:
se

2    3
5    7
1    1
3    4
8    7
5    2
dtype: int64

In [44]:
se.sort_index()

1    1
2    3
3    4
5    7
5    2
8    7
dtype: int64